language: rust
cache: cargo

env:
  global:
    # This will be part of the release tarball
    - PROJECT_NAME=clapcomp
    - MAKE_DEB=yes
    - DEB_MAINTAINER="Chiu-Hsiang Hsu <wdv4758h@gmail.com>"
    - DEB_DESCRIPTION="clap completion generator as command"

# AFAICT There are a few ways to set up the build jobs. This one is not the DRYest but I feel is the
# easiest to reason about.
# NOTE Make *sure* you don't remove a reference (&foo) if you are going to dereference it (*foo)
matrix:
  include:
    # Stable channel
    - os: linux
      rust: stable
      env: TARGET=aarch64-unknown-linux-gnu
      # need Trusty because the glibc in Precise is too old and doesn't support 64-bit arm
      dist: trusty
      sudo: required
      # Extra packages only for this job
      addons:
        apt:
          packages: &aarch64_unknown_linux_gnu
            # Transparent emulation
            - qemu-user-static
            - binfmt-support
    - os: linux
      rust: stable
      env: TARGET=armv7-unknown-linux-gnueabihf
      # sudo is needed for binfmt_misc, which is needed for transparent user qemu emulation
      sudo: required
      addons:
        apt:
          packages: &armv7_unknown_linux_gnueabihf
            # Cross compiler and cross compiled C libraries
            - gcc-arm-linux-gnueabihf
            - libc6-armhf-cross
            - libc6-dev-armhf-cross
            # Transparent emulation
            - qemu-user-static
            - binfmt-support
    - os: osx
      rust: stable
      env: TARGET=i686-apple-darwin
    - os: linux
      rust: stable
      env: TARGET=i686-unknown-linux-gnu
      addons:
        apt:
          packages: &i686_unknown_linux_gnu
            # Cross compiler and cross compiled C libraries
            - gcc-multilib
    - os: linux
      rust: stable
      env: TARGET=i686-unknown-linux-musl
    - os: osx
      rust: stable
      env: TARGET=x86_64-apple-darwin
    - os: linux
      rust: stable
      env: TARGET=x86_64-unknown-linux-gnu
    - os: linux
      rust: stable
      env: TARGET=x86_64-unknown-linux-musl

before_install:
  - export PATH="$PATH:$HOME/.cargo/bin"

install:
  - bash ci/install.sh

script:
  - bash ci/script.sh

before_deploy:
  - bash ci/before_deploy.sh

deploy:
  provider: releases
  # - Go to 'https://github.com/settings/tokens/new' and generate a Token with only the
  # `public_repo` scope enabled
  # - Call `travis encrypt $github_token` where $github_token is the token you got in the previous
  # step and `travis` is the official Travis CI gem (see https://rubygems.org/gems/travis/)
  # - Enter the "encrypted value" below
  api_key:
    secure: DKwPCPTGfwOIacEOzz4Ac6ACgU1rJO6SCUkF3VIA+sz51dYyg0ErKeWWiaByQHBTYS5nEWX8nD2x5vnOiUcwed6aRecluCynK/41G7iIrXgfnj7ZDkTLget2zhQ2MXoEfZpy7TvS1HXF2xqfV8VKcw+pKUpC6UH4X104tAYk9LyL1IQvXF9rZ0g/TQAdASfHPkYP+xcSj6srm5PXrgrdTtY9Xd6KefX1OYgPiOo38O4ZqZrR5+Sygryap+F3O+8IWjQ9STkkUfkZomPt33Ysae90VlkOl8X+CRqu9XBYQfneSIzA8Qm30H0UTrbZmH0wMAWzHNODOWdsn2GY5w/u+0nHk2I7OuHR0+3sF3fZlGmOZMQei6yr/jUOzDu7Wt0eQjM0S6chmlVvdQx82HnLNgyRgFzCGzsbJn+DISPCJ505SNLtxgA1NCu/0Uu7DWcsbYERP3pcAd+Uh5QGRHDf68UOqZ6yoObd7NUW9EiyjwGMtR7VExqsu8AlrORvZIXpXiD0+EKf+IakLHj2D4/pxP4iTBNQlil2v04KY3MoESNbSRI0yHHPkBmgF2eN3CTQs3UxQwOXoTGYzJlsasjfk9ouoXvsWKZQfa1otF9DaRIh4yM29EmgnyG0RgeTa/+Ih7c1uJoTCvKU6OZ+ftiQFH0pb81Tgu3ZGxnOlNpkFFQ=
  file_glob: true
  file: ${PROJECT_NAME}-${TRAVIS_TAG}-${TARGET}.*
  # don't delete the artifacts from previous phases
  skip_cleanup: true
  # deploy when a new tag is pushed
  on:
    # channel to use to produce the release artifacts
    # NOTE make sure you only release *once* per target
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true

branches:
  only:
    # Pushes and PR to the master branch
    - master
    # IMPORTANT Ruby regex to match tags. Required, or travis won't trigger deploys when a new tag
    # is pushed. This regex matches semantic versions like v1.2.3-rc4+2016.02.22
    - /^v\d+\.\d+\.\d+.*$/

notifications:
  email:
    on_success: never
